<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.location1"
    versionCode = "1"
    version     = "1.0.0" >


  <name>Location</name>

  <description>
    
  </description>
 
    <!--Android 6.0 or newer: Plugin to support runtime permissions--> 
    <plugin name="cordova-plugin-geolocation-android-activator" />
    
    <!--Plugin to support gathering of location data--> 
    <plugin name="cordova-plugin-geolocation"  />

    
    <!--Apple iOS 10 or newer: Adding a parameter to the ios build to allow suer to give permission to access location-->
    <config-file platform="ios" parent="NSLocationWhenInUseUsageDescription" mode="merge">
        <array>
            <key>NSLocationWhenInUseUsageDescription</key>
            <string>Give me your location! Let me have it!!!</string>
        </array>
    </config-file>
    
</widget>